@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg-light font-display text-slate-900 min-h-screen;
  }
}

@layer components {
  .neubrutalism {
    border: 4px solid #181511;
    box-shadow: 8px 8px 0px 0px #181511;
  }
  .neubrutalism-sm {
    border: 3px solid #181511;
    box-shadow: 4px 4px 0px 0px #181511;
  }
  .ketupat-pattern {
    background-color: #f59f0a;
    background-image: radial-gradient(#ffffff 1px, transparent 1px);
    background-size: 20px 20px;
  }
  .neo-btn {
    @apply transition-all duration-150;
  }
  .neo-btn:hover {
    transform: translate(-2px, -2px);
    box-shadow: 10px 10px 0px 0px #181511;
  }
  .neo-btn:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px 0px #181511;
  }
}
